<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Reader</title>
    <link rel="stylesheet"  href="/tableStyles.css"/>
    <!-- hilarious info, but the location should be ../static/tableStyles.css !-->
</head>
<body>
<h1 class="templateTitle">Список книг</h1>
<div>
    <a href="#" class="href-button-add">Добавить книгу</a>
    <button class="small-button">Списать книги</button>
</div>
<table id="entity-list">
    <tr>
        <th></th>
        <th>Имя книги</th>
        <th>Дата издания</th>
        <th>Адрес издательства</th>
        <th>Фамилия Имя читателя</th>
        <th>Действие с книгой</th>
    </tr>
    <tr>
        <td><input type="checkbox"/> &nbsp;</td>
        <td>Ромео</td>
        <td>12.06.20</td>
        <td>МРР</td>
        <td>ИВанов иван</td>
        <td>
            <a href="#" class="href-button">Выдать</a>
            <a href="#" class="href-button">Вернуть</a>
        </td>
    </tr>
    <tr>
        <td><input type="checkbox"/> &nbsp;</td>
        <td>Ромео</td>
        <td>12.06.20</td>
        <td>МРР</td>
        <td>ИВанов иван</td>
        <td>
            <a href="#" class="href-button">Выдать</a>
            <a href="#" class="href-button">Вернуть</a>
        </td>
    </tr>
    <tr>
        <td><input type="checkbox"/> &nbsp;</td>
        <td>Ромео</td>
        <td>12.06.20</td>
        <td>МРР</td>
        <td>ИВанов иван</td>
        <td>
            <a href="#" class="href-button">Выдать</a>
            <a href="#" class="href-button">Вернуть</a>
        </td>
    </tr>
</table>
</body>
</html>