<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:action="@{/login}"
      th:object="${userDto}" method="POST">
    email
    <input type="email" th:field="*{email}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}">
    </span>
    <input type="password" th:field="*{passw}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('passw')}"
          th:errors="*{passw}">
    </span>
    <input type="submit" value="save" />
</form>
</body>
</html>